scratch/
our-build/
debian/ndn-perl-modules.debhelper.log
debian/files
debian/ndn-perl-modules.substvars
debian/ndn-perl-modules
debian/travis/deploy_id
build.sh
build-stamp
test-out/
built-dists/
cpanm-home/
