Source: ndn-perl-modules
Section: perl
Priority: optional
Maintainer: Chris Weyl <chris.weyl@dreamhost.com>
Build-Depends:
 debhelper (>= 8.0.0),
 ndn-perl (>= 5.20.2),
 ndn-lintian-profile,
 time,
 libjson-xs-perl,
 libmysqlclient-dev,
 libxml2-dev,
 libssl-dev,
 libgd-dev,
 libxslt1-dev
Standards-Version: 3.9.4
Homepage: https://github.com/dreamhost/dpkg-ndn-perl
Vcs-Git: https://github.com/dreamhost/dpkg-ndn-perl.git
Vcs-Browser: https://github.com/dreamhost/dpkg-ndn-perl

Package: ndn-perl-modules
Architecture: any
Depends: ndn-perl, ${shlibs:Depends}, ${misc:Depends}
Description: CPAN and other dependencies of the ndn-perl package
 As a demo, just Moose and all its dependencies at the moment.
